.highlight {
  background-color: aquamarine;
}
.navbar {
  background-color: #0c8351 !important;
}

.green-highlight {
  color: #008000;
  font-size: 40px;
}

.red-highlight {
  color: red;
  font-size: 25px;
}
